{% extends "layout.html" %}

{% block title %}
show
{% endblock %}

{% block main %}

    <h1>Posts</h1>
    {# 註解 #}
    <div>{{post.id}}</div>
    <h5>{{post.title}}</h5>
    <p>{{post.content}}</p>

    {{ post.title }}-{{ post.content }} <br>
    <hr>
        <a class="btn btn-outline-primary " href="{% url 'posts:edit' post.id %}">Edit</a>
        <a class="btn btn-outline-primary " href="{% url 'posts:delete' post.id %}">Delete</a>
        <a class="btn btn-outline-primary " href="{% url 'posts:index' %}">Back To List</a>

{% endblock %}